* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
    color: red;
}
*:focus {
    outline: none;
}


.header-container {
    display: flex;
    justify-content: center;
    background-color: #222;
    width: 100%;
    height: 40px;
    border-bottom:2px solid #33bee5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light-white {
    color: #bebebe;
}

.margin-right-left {
    margin: 0px 10px;
}

.marquee-block {
    width: 300px;
    font-size: 14px;
    color: #bebebe;
}

.link {
    text-decoration: none;
    border-bottom: 0px;
    background-color: #000;
    padding: 3px 5px;
    margin: 0px 10px;
    font-size: 15px;
    color: #6e48f5;
}
.pipe {
    text-decoration: none;
    border-bottom: 0px;
    background-color: #000;
    font-size: 15px;
    color: #6e48f5;
}

.body-container {
    width: 900px;
    margin: auto;
    background-color: #fff;
}

.menubar-item {
    height: 80px;
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 5px 10px;
    margin-left: 5px;
    justify-content: center;
    border-left: 1px solid #ccc;
    align-items: center;
    cursor: pointer;
}
.menubar-item:hover {
    color: #fff;
    background-color: #6e48f5;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 260px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #4a3ff1; 
    width: 100%; 
    height: 25px;
}
td {
    padding: 5px 5px;
}

.form-text-input {
    color: #6e48f5; 
    font-size: 14px; 
    padding: 5px 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}

.simple-button {
    padding: 8px 15px;
    background-color:#5869ff;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}

.simple-button:hover {
    background-color:#0919fa;
}

.link-button {
    text-decoration: none;
}

.form-banner-img {
    width: 18px; 
    height: 18px; 
    margin: 0px 5px;
}