* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}

.main-container {
    width: 100%;
}



.title-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #F4F5F7;
    border-bottom: 2px solid red;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.logo-container {
    background-color: rgb(153, 153, 71);
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.welcome-text,.title-link,.login-button {
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px 0px;
    color: #0626dab0;
}